[
  {
    "name": "${family}",
    "image": "${image}",
    "command": [
      "/bin/bash",
      "-c",
      "mkdir -p ${container_path}/system && ln -sf ${cache_volume_path} ${container_path}/system/caches && mkdir -p ${container_path}/config && echo \"${database_config}\" > ${container_path}/config/database.properties && /run-services.sh"
    ],
    "environment" : [
      {
        "name" : "TEAMCITY_SERVER_MEM_OPTS",
        "value": "${mem_opts}"
      },
      {
        "name" : "TEAMCITY_DATA_PATH",
        "value": "${data_volume_path}"
      }
    ],
    "mountPoints": [
      {
        "sourceVolume": "${data_volume_name}",
        "containerPath": "${data_volume_path}"
      },
      {
        "sourceVolume": "${cache_volume_name}",
        "containerPath" : "${cache_volume_path}"
      }
    ],
    "essential": true,
    "cpu": ${cpu},
    "memory": ${memory},
    "portMappings": [
      {
        "hostPort": ${host_port},
        "containerPort": ${container_port},
        "protocol": "tcp"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "/aws/ecs/${name}",
        "awslogs-region": "${region}",
        "awslogs-stream-prefix": "${stream_prefix}"
      }
    }
  },
  {
    "name": "${family}-init",
    "image": "foxdalas/tc-plugins-downloader:latest",
    "memory": 128,
    "command": [
      "/app/plugins.sh"
    ],
    "environment" : [
      {
        "name" : "PLUGINS_DIR",
        "value": "${data_volume_path}/plugins"
      },
      {
        "name" : "PLUGINS_LIST",
        "value": "${plugins_list}"
      }
    ],
    "mountPoints": [
      {
        "sourceVolume": "${data_volume_name}",
        "containerPath": "${data_volume_path}"
      }
    ],
    "essential": false,
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "/aws/ecs/${name}",
        "awslogs-region": "${region}",
        "awslogs-stream-prefix": "${stream_prefix}"
      }
    }
  }
]
