[
  {
    "name": "${family}",
    "image": "${image}",
    "command": [
      "/bin/bash",
      "-c",
      "mkdir -p ${container_path}/config && echo \"${database_config}\" > /${container_path}/config/database.properties && /run-services.sh"
    ],
    "environment" : [
      { "name" : "TEAMCITY_SERVER_MEM_OPTS", "value": "-Xmx3g -XX:ReservedCodeCacheSize=350m"}
    ],
    "mountPoints": [
      {
        "sourceVolume": "${volume_name}",
        "containerPath": "${container_path}"
      }
    ],
    "essential": true,
    "cpu": ${cpu},
    "memory": ${memory},
    "portMappings": [
      {
        "hostPort": 8111,
        "containerPort": 8111,
        "protocol": "tcp"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "/aws/ecs/${name}",
        "awslogs-region": "${region}",
        "awslogs-stream-prefix": "${stream_prefix}"
      }
    }
  }
]
